body {
    background-color: lightgray;
    font-family: Roboto, sans-serif;
}

.main {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 10px solid blue;
    /*background-color: lightskyblue;*/
    background-color: lightskyblue;
}

#button_container {
    /*display: flex;
    justify-content: space-around;*/
    height: 800px;

}

.start {
    cursor: pointer;
    display: block;
    margin: 3px;
    background-color: green;
    font-weight: bold;
    font-size: large;
    text-align: center;
    width: 100%;
    height: 50px;
    /*border: 1px solid black;*/
    border-radius: 5px;
    /*display: block;
    margin: auto;
    width: 200px;
    height: 80px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 50px;*/
}
h1, h2 {
    width: 80%;
    text-align: center;
    margin: 20px auto 0px auto;
}
h1 {
    /*background-color: orangered;*/
    padding: 25px;
    font-size: 40px;
}
.results {
    border-collapse: collapse;
    border: 8px solid darkblue;
    border-radius: 10px;
    background-color: lightgray;
    width: 500px;
    margin: 20px auto 0px auto;
}
th, td {
    border: 2px solid lightgrey;
    text-align: center;
    padding: 1px 3px 1px 3px;
    background-color: white;
    font-size: 13px;
}
img {
    height: 13px;
    /*border: 1px solid black;*/
}